.sign-up, .sign-in{
    margin-left: 15px;
}

.content {
    margin-top: 10px;
}

.content-head-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.content-item-block {
    display: flex;
    justify-content: space-between;
}